// ==============================
// Custom style
// 自定义样式
// ==============================

.home {
  .home-profile {
     .home-avatar {
      img {
        width: 13rem;
        @include box-shadow(0 0 0 0em rgba(0, 0, 0, 0.05));
      }
    }
  }
}

.header-title {
  color: #F87171;
}

.header-title-pre {
  color: #60A5FA;
}

.cc-window.cc-banner, .cc-window.cc-floating {
  color: #1F2937;
  background-color: #60A5FA;
  .cc-link {
    &:hover,
    &:focus {
      color: #DC2626;
    }
  }
  .cc-btn {
    color: #1F2937;

    &:hover,
    &:focus {
      background-color: #93C5FD;
    }

    [theme="dark"] & {
      color: #1F2937;

      &:hover,
      &:focus {
        background-color: #93C5FD;
      }
    }
  }
}

